# Environment Variables for Development: both Vite frontend and Flask backend
#
# Notes on Vite environment variables:
# - For Production, use dockerfile to set build-time environment variables, and 
# Fly.io Secrets console for runtime environment variables.
# - Variables prefixed with VITE_ are accessible within your Vite-processed code 
# through the import.meta.env object.
# - Example: If you have an environment variable named API_URL defined as 
# VITE_API_URL, you can access it in your code as import.meta.env.VITE_API_URL.
# - Server-Side Only:
# - Variables without the VITE_ prefix are only available on the server-side. 
# - https://vite.dev/guide/env-and-mode
#
# Notes of Flask server app.py environment variables:
# - Production environment variables are set in fly.io Secrets console

NODE_ENV=development
DEBUG=True

############################################################################
# Vite Frontend Environment Variables
############################################################################
# Firebase and Firestore Configuration
# See Dockerfile for build-time environment variables
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_USE_EMULATOR=false
VITE_FIRESTORE_DATABASE_ID=

# Should match PORT and API_PORT and proxy in vite.config.ts
# Production: seefly.toml and Dockerfile
VITE_PORT=8080            # Node.js client port - for local development
VITE_API_PORT=8080        # Node.js Axios server API port - for local development
VITE_API_BASE_URL=http://localhost:8080


############################################################################
# Flask Server Configuration
############################################################################
# Development: see app.py, use either 3001 or 8080
# Production: see Dockerfile and fly.toml 
PORT=8080                   # Next.js client port - for local development
API_PORT=8080               # Node.js Axios server API port - for local development

# API Configuration - not used 
API_BASE_URL=http://localhost:8080

# These are keys for LLM providers and other services
# For production, define these in the fly.io Secrets console runtime environment variables 

# Secret Keys and Tokens    
SECRET_KEY=
API_TOKEN=

# LLM Configuration
DEFAULT_LLM_PROVIDER=gemini
DEFAULT_TTS_PROVIDER=gemini
DEFAULT_EXTRACT_TOOL=podcastfy

# OpenAI API
OPENAI_API_KEY=
OPENAI_LLM_MODEL=gpt-3.5-turbo

# Google Gemini API
GOOGLE_API_KEY=
GEMINI_API_KEY=
GEMINI_LLM_MODEL=gemini-2.0-flash-lite

# Deepseek API
DEEPSEEK_API_KEY=
DEEPSEEK_LLM_MODEL=deepseek-chat

# Anthropic API
ANTHROPIC_API_KEY=
ANTHROPIC_LLM_MODEL=claude-3-5-sonnet

# ElevenLabs API
ELEVENLABS_API_KEY=

# Play.ai API
PLAYAI_API_KEY=

# OpenRouter API
OPENROUTER_API_KEY=

# PlayHT API
PLAYHT_API_KEY=

# Hume API
HUME_API_KEY=
